header {
  background-color: transparent;
  padding: $py_header 0;
  box-shadow: $green 0px 2px 8px 0px;

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        // @include styleText($fs_5, $color_blue_1, $fw_bold);
        text-decoration: none;
      }
      img {
        width: 160px;
      }
    }

    nav {
      @media screen and (max-width: 576px) {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;

        li {
          margin: 0 10px;
          position: relative;
          padding: 10px 20px;
          border-radius: 40px;
          transition: all 0.5s;
          &:hover {
            background-color: #1d1d1d;
          }
          // parent selector
          // parent selector(&) đại diện cho lớp cha đang nằm ngoài, có thể sử dụng để đại diện cho lớp cha và trỏ tới các thuộc tính
          &::before {
            content: "";
            width: 0;
            height: 3px;
            background-color: $green;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: all 0.5s;
          }

          &:hover::before {
            width: 100%;
          }

          &.active {
            background-color: #1d1d1d;
            a {
              color: $green;
            }
            &::before {
              width: 100%;
            }
          }

          a {
            @include styleText($fs_4, $light, $fw_300);
            text-decoration: none;
          }
        }
      }
    }
    // right button
    .btn-login {
      @include styleText($fs-3, $white, $fw-400);
      cursor: pointer;
      background: $gradient;

      padding: 8px 50px;
      border-radius: 30px;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
