// product
.product {
  padding: $py_section 0;
  @include styleText($fs_6, $white, $fw_bold);

  .product_title {
    h2 {
      text-align: center;
    }
  }

  .product_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    .product_item {
      box-shadow: $green 0px 2px 8px 0px;
      border-radius: 8px;
      opacity: 0;
      padding: $p_productItem;

      animation-name: faded;
      animation-duration: 2s;
      animation-fill-mode: forwards;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + 1}) {
          animation-delay: ($i * 1s);
        }
      }
      .product_avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .product_img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            box-shadow: $green 0px 2px 8px 0px;
            object-fit: cover;
          }
        }
      }

      h3 {
        @include styleText($fs_5, $white, $fw_bold);
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }

      p {
        // @extend .sub_title
        @include styleText($fs_3, $text, $fw_bold);
        margin-top: 10px;
      }

      .rate_buy {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rate {
          i {
            color: $color_yellow_1;
          }
        }

        .buy_now {
          @include styleButton($white, $white, 10px 25px);
        }
      }
    }
  }
}
